<nav class="nav">
    <a href="/" class="site-title">Bouldering Tracker</a>
    <ul>
        <li>
            <a href="/history">History</a>
        </li>
        <li>
            <a href="/newClimb">Add Climb</a>
        </li>
    </ul>
</nav>