<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/header') %>
    </head>

    <body>
        <%- include('./partials/navbar') %>
        <h1>this is the history page</h1>

        <% results.forEach(function (element) { 
            %> <h3>Climb Difficulty: <%= element.climbDifficulty %></h3>
            <p>Date: <%= element.climbDate %> </p>
        <%
        }) %>
    </body>
</html>