<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <h1>Bouldering Info</h1>
    <div id="bouldering-info"></div>
    
    <script type="text/jsx">
      const boulderingInfo = document.getElementById("bouldering-info");
      ReactDOM.render(<h1>Testing</h1>, boulderingInfo);
    </script>
  </body>
</html>
