<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <!-- <nav className="nav">
      <a href="/" className = "site-title">Bouldering Tracker</a>
      <ul>
          <li>
              <a href="/history">History</a>
          </li>
      </ul>
    </nav> -->
    <h1>Bouldering Info</h1>
    <div id="bouldering-info"></div>
    
    <script type="text/jsx">
      const boulderingInfo = document.getElementById("bouldering-info");
      ReactDOM.render(<h1>Testing</h1>, boulderingInfo);
    </script>
  </body>
</html>
