<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/header') %>
    </head>

    <body>
        <%- include('./partials/navbar') %>
        <h2>this is the add climb page</h2>
    </body>
</html>